.header {
  position: relative;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Logo styles */
.logo {
  color: var(--dark-green);
  font-weight: bold;
  font-size: 1.25rem;
}

/* NavMenu styles */
.nav {
  display: flex;
  
  align-items: flex-start;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem 0;
}

.navItem {
  position: relative;
}

.navLink {
  color: var(--dark-green);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.dropdownIcon {
  margin-right: 0.25rem;
  font-size: 0.875rem;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  top: 100%;
  padding-top: 0.5rem;
  z-index: 20;
}

.dropdownContent {
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.navItem:hover .dropdownContent {
  opacity: 1;
  visibility: visible;
}

.dropdownList {
  padding: 0.5rem 0;
}

.dropdownItem {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--dark-green);
  text-align: right;
}

.dropdownItem:hover {
  background-color: rgb(243 244 246);
}

/* Search styles */
.search {
  background-color: var(--dark-green);
  padding: 0.55rem;
  border-radius: 0.375rem;
}

.searchContainer {
  position: relative;
}

.searchInput {
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
  width: 12rem;
  padding-right: 1rem;
  outline: none;
}

.searchInput::placeholder {
  color: rgb(209 213 219);
}

.searchIcon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
